[Unit]
Description=uWSGI instance to serve Server_dev
After=network.target postgresql-14.service

[Service]
User=root
Group=nginx
WorkingDirectory=/opt/Server_dev
Environment="PATH=/opt/Server_dev/venv/bin"
ExecStart=/opt/Server_dev/venv/bin/uwsgi --ini /opt/Server_dev/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target