[uwsgi]
# Django-related settings
chdir           = /opt/Server_dev
# Django's wsgi file
module          = Server_dev.wsgi:application
# the virtualenv (full path)
home            = /opt/Server_dev/venv
# process-related settings
master          = true
# maximum number of worker processes
processes       = 8
threads         = 2
enable-threads  = True
# the socket (use the full path to be safe)
socket          = /opt/Server_dev/uwsgi/uwsgi.sock
chmod-socket    = 666
# clear environment on exit
vacuum          = true
# respawning
harakiri        = 30
max-requests    = 5000

# increase buffer size
buffer-size     = 65535 
listen          = 4096
                    